html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
    font-family: 'Sansita', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    overflow-wrap: unset;
  }

body {
    padding: 0 0;
    
    font-size: 1.6rem;
}

@media (min-width: 768px) { 
    body {
        padding: 0 0;
    }
}

                        /* Home section */


    .header-home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background: rgba(240, 240, 240, 1);
        border: 1px solid rgba(216, 216, 216, 0.5);
        border-bottom-right-radius: 3.4rem;
        border-bottom-left-radius: 3.4rem;
        min-height: fit-content;
        padding-bottom :0.5rem ;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        transition: 0.7s;
        overflow: hidden;
        overflow-wrap: break-word;
    }
        .down {
            background-color: rgba(240, 240, 240, 0.5);
        }
    h1 {
        align-self: center;
        padding-left: 1rem;
        font-size: 2.5rem;
        color: #5E0000;
        flex-basis: 50%;
    }

    
    .menu-icon {
        flex-basis: 50%;
        text-align: right;
        padding-right: 1rem;
    }
    .logo-div {
        display: none;
    }
    .nav-links-container {
        display: none;
        flex: 1;
        flex-direction: column;
        text-align: center;
    }
    .show-menu {
        display: flex;
    }
    .nav-links-container a:first-child {
        margin-top: 1rem;
    }

    .nav-links-container a {
        /* display: inline-block; */
        width: 100%;
        text-decoration: none;
        color: #000C2D;
        margin-bottom: 1.5rem;
        align-self: center;
    }

    .nav-links-container a:last-child {
        margin-bottom: 4rem;
    }
    .logo-div-mobile {
        margin: 2rem 0;
    }

    
    @media (min-width: 768px) { 
        .header-home {
            display: flex;
            flex-direction: row;
            /* justify-content: space-around; */
            background: rgba(240, 240, 240, 0.42);
            height: min-content;
            position: unset;
        }
        h1 {
            align-self: center;
            padding-left: 0rem;
            font-size: 4.5rem;
            color: #5E0000;
            width: unset;
            flex-basis: unset;
            
        }

        .nav-links-container {
            display: none;
        }
        .logo-div {
            display: flex;
            margin-right: 4rem;
           
        }
        .logo-div-mobile {
            display: none;
        }
    }
        .logo-div img {
            align-self: center;
            width: 4.5rem;
        }

        .front-end-text {

            /* width: fit-content; */
            display: none;
            /* flex-direction: row; */
            
            
            /* justify-content: space-around; */
        }

            .front-end-text p {
                font-size: 2.6rem;
                /* padding: 0 1rem; */
            }
            
            
/* Mobile menu */
@media (min-width: 768px) { 
    .front-end-text {
        display: flex;
        align-self: center;
    }
    .menu-icon {
        display: none;
    }
}



.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 37.5rem);
    margin: 6rem 0;
    justify-content: center;
    gap: 0rem;
   }

  @media (min-width: 768px) { 
      .home-container {
        grid-template-columns: repeat(auto-fill, 50rem);
        gap: 8rem;

      }
  } 

.welcome-container {
    display: flex;
    flex-direction: column;
    height: 60rem;
    justify-content: center;
    align-self: center;
      
}

.grid-container-welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    border-left: 5px solid #000C2D ;

    padding: 0 ;
    }

.welcome-text {
    justify-self: center;
    
}

.welcome-text p {
    font-size: 5.5rem;
    font-weight: 400;
}

@media (min-width: 768px) { 
   .grid-container-welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    border-left: 5px solid #000C2D ;
    padding: 0 4rem;
    }
    .welcome-text p {
       font-size: 8rem; 
    }

    .grid-container-welcome {
        padding: 0 4rem;

    }
}

.projects-title {
    margin-top: 2rem;
    background-color: #F7F7F7;
    border: 1px solid rgba(146, 146, 146, 0.1);
    justify-self: center;
    align-self: center;
    color: #5E0000;
    border-radius: 2rem;
    padding: 1rem 2rem;
}
.projects-title h2 {
    font-weight: 700;
    font-size: 2.2rem;
}
    
.projects-links {
    padding: 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}
.repository-link {
    display: flex;
    align-items: center;
}
.repository-link p {
    font-size: 1.5rem;
    color : #be7f00;
}
@media (max-width: 768px) { 
    
    .repository-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .repository-link p {
        font-size: 1.5rem;
        color : #be7f00;
    }
}

.dev-side-title {
    display: inline;
    background-color: #000C2D;
    min-width: fit-content;
    height: 4rem;
    display: grid;
    place-content: center;
    border-radius: 3rem;

    
}

.dev-side-title a {
    color: #fff;
    text-decoration: none;
    padding: 2rem;

}
.designer-side-title {
    display: inline;
    background-color: #FFA800;
    min-width: fit-content;
    height: 4rem;
    display: grid;
    place-content: center;
    border-radius: 3rem;
    
}
.designer-side-title a {
    color: #fff;
    text-decoration: none;
    padding: 10rem 3rem;

}

.welcome-text p span {
    color: #FFA800;
}

.mail-container {
    display: flex;
    height: 15rem;
    align-items: center;
    padding-left: 4rem;
    }

    .hide-email {
        display: none;
    }
    .pop-up-email {
        display: contents;

    }
    .showEmail {
        display: contents;
    }
    .email-img {
        margin-right: 2rem;
    }

    .email-img:hover {
        cursor: pointer;
    }
.about-container {
    
    display: grid;
    width: 100%;
    height: 70rem;
    text-align: center;
    justify-content: center;
    
    /* margin: 0 auto; */
    background: #F7F7F7;
    border: 1px solid rgba(146, 146, 146, 0.1);
    border-radius: 3.5rem;
}



.img-perfil {
    margin: auto auto;
    
}

.img-perfil img  {
    width: 22rem;
    
}
.about-container p {
    padding: 0 1rem;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 2rem;
}
.icons-container img {
    display: block;
    width: 4rem;
    align-self: center;
    
}

@media (min-width: 768px) { 
    .about-container {
        width: 100%;
        height: 60rem;
    
    }
    .about-container p {
        padding: 0 3rem;
    }
}

/******* Developer Section **********/


.developer-section {
    border-radius: 5rem;
    border: 1px solid rgba(216, 216, 216, 0.5);
    margin-bottom: 6rem;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-developer-projects {
    background-color: #000C2D;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer-container-title {
    
    background-color: #fff;
    margin-left: 0;
    width: 100%;
    display: flex;
    padding: 0.5rem 2rem;
}

@media (min-width: 768px) { 
    .header-developer-projects {
        justify-content: unset;

    }
    
    .developer-container-title {
        margin-left: 4rem;
        border-radius: 3rem;
        width: unset;

    }

}

.header-developer-projects h2 {
    color: #000C2D;
    margin-left: 2rem;
    align-self: center;
}
.project {
    padding: 3rem 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 8rem ;
    border-bottom: 1px solid rgba(146, 146, 146, 0.3);
}


.corner-icon {
    width: 3rem;
}

.img-project {
    width: 100%;
}



.text-projects-container {
    display: flex;
    flex-direction: column;
  
}

.title-project-container {
    display: flex;
    align-items: center;
    margin: 1rem 0
}
.project h3 {
    display: inline;
    font-size: 2rem;
    margin: 0 0 0 1rem;
}
.project-text {
    width:100%;
    padding: 1rem 1rem;    
}


.project-text a {
    color: #000C2D;
    font-weight: 700;
}

@media (min-width: 768px) { 
    .project-text {
        width: 50rem;
    }
    .img-project {
        width: 50rem;
    }
}

.project-text p {
    margin: 2rem 0;
}
.icon-project {
    align-self: flex-end;
    margin: 2rem ;
}

.bottom-decoration {
    width: 100%;
    height: 10rem;
    background-color: #000C2D;
    border-bottom-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    
}
                        /* Design section */
.design-title {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    /* height: 4rem; */
    align-items: center;
    margin: 5rem 0;
    padding: 0.5rem 2rem
    
    }

    

@media (min-width: 768px) { 
    .design-title {
        width: 35rem;
        border-radius: 3.4rem;
        margin: 5rem 3rem 5rem 4rem;

    }
}

.design-title img {
    margin: 0 0.1rem 0 2rem;
    width: 59px ;
    height: 58px;
}
.design-title h2 {
    margin: 0 1rem 0 2rem;
    
}

.design-section{
    background-color: #FFA800;
    border: 1px solid rgba(146, 146, 146, 0.3);
    border-radius: 35px;
    height: min-content;
    width: 100%;
}

.grid-container {
    margin: 0 auto;
    
  }

  .grid-item {
    width: 15rem;
    margin-bottom: 2rem;
  }

  .grid-item img {
    width: 100%;
    display: block;
    border-radius: 15px;
  }
  @media (min-width: 768px) { 
    section {
        margin: 0 8rem;
    }
    
    .design-section {
        margin: 0 8rem;
        width: unset;
    }
    

    .grid-item  {
      width: 25.5rem;
    }
  }
  

  /**************** FOoter Section*******************/

  .footer-container {
      margin-top: 15rem;
      background-color: #000C2D;
      color: #fff;
      display: flex;
      flex-direction: column;
      
  }

  .footer-title {
      position: relative;
      color: #000C2D;
      top: -5rem;
      align-self: center;
      width: 35rem;
      background-color: #fff;
      height: fit-content;
      padding: 1rem 0;
      border: solid 1px #000C2D;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      font-size: 1.5rem;
      font-weight: 400;
      
  }

    .footer-grid {
        display: flex;
        flex-wrap: wrap;
        padding: 0rem 5rem;
        
    }

        .left-side {
            flex-basis: 100%;
        }

        .rigth-side {
            flex-basis: 100%;
        }

        .social-icons {
            margin: 4rem 0;
            flex-basis: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 2rem 0;
            /* width: 2.5rem; */
        }
            /* .social-icons img:first-of-type {
                width: 3.5rem;
            } */
            .social-icons img {
                width: 3rem;
                align-self: center;
            }
    .footer-title img {
        width: 3rem;
    }
    
    .footer-grid h3 {
        color:#FFA800;
        margin: 3rem 0;
    }

    .bottom-footer {
        border-top: 1px solid #fff;
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
    }

    .bottom-footer p {
        font-size: 1.5rem;
    }
    .mail-icon-footer:hover {
        cursor: pointer;
    }
    @media (min-width: 768px) { 
        .footer-container {
            margin-top: 15rem;
            background-color: #000C2D;
            color: #fff;
            display: flex;
            flex-direction: column;
            
        }
        .left-side, .rigth-side {
            padding: 0 3rem;
        }
        .footer-title {
            width: 70rem;
            background-color: #fff;
            height: fit-content;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 3rem;
            font-weight: 400;
        }
      
          .footer-grid {
              display: flex;
              flex-wrap: wrap;
                }
      
              .left-side {
                  flex-basis: 50%;
              }
      
              .rigth-side {
                  flex-basis: 50%;
              }
      
              .social-icons {
                  flex-basis: 100%;
                  display: flex;
                  justify-content: center;
                  
                  margin: 4rem 0
                  ;
      
              }
              .social-icons img {
                  align-self: center;
                  margin: 0 4rem;
              }
          .footer-title img {
              width: 5rem;
          }
          
          .footer-grid h3 {
              color:#FFA800;
          }
    }


                 /**********  MAIL POP UP  ***************/
    .backgroundMail {
        position: fixed;
        filter: blur(25px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 60px;
        margin: auto;
        width: 220px;
        height: 150px;
        background-color: rgba(245, 248, 241, 0.801);
        border-radius: 5px;
    }
    .mailMobileContainer {
        display: grid;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 60px;
        margin: auto;
        width: 160px;
        height: 125px;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 5px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "empty-area imgMail-area closeIcon-area"
          "mailText-area mailText-area mailText-area";
      }
      
            .mailText-area { grid-area: mailText-area; }
                
              
                .mailTextContainer p {
                    display: grid;
                    place-content: center;
                    height: 25px;
                    font-size: 14px;
                    font-family: 'Sansita',sans-serif;
                    background-color: rgba(18, 4, 53, 0.993);
                    margin: 0.2rem;
                    color: rgb(255, 255, 255);
                    border-radius: 5px;
                    box-shadow: 0px 3px 4px 1px #241D3F;
                }
            .empty-area { grid-area: empty-area; }
      
            .imgMail-area {
               grid-area: imgMail-area;
               display: grid;
               place-content: center;
             }
                .imgMail-area img {
                    width: 55px;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

                                            
                }
            .closeIcon-area { 
                grid-area: closeIcon-area;
                display: grid;
                align-items: flex-start;
                justify-items: right;
                 }
                 .closeIcon-area img {
                     width: 15px;

                 }