html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
    font-family: 'Sansita', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* overflow-wrap: unset; */
  }

                        /* Home section */





    
        
    
        
    


    

    h1 {
        align-self: center;
        padding-left: 0rem;
        font-size: 4.5rem;
        color: #5E0000;
        width: unset;
        flex-basis: unset;
        margin: 0;
        
    }
       
            
             .container-construction {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            background-image: url(../img/bg_underConstruction.jpg); 
        }
        .left-section-construction p {
            font-size: 1.8rem;
            color: #000C2D;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        
        div .left-section-construction {
            flex-basis: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            padding: 0 2rem;
            opacity: 0.9;

            transform: skewY(-11deg);      
         
        }
        
        .construction_social-icons {
            display: flex;
            align-self: center !important;
            justify-content: center;
            gap: 2rem !important;
            /* margin-top: 1rem; */
            padding-top: 1rem;
        }

        .content  {
            max-width: 50em;
            margin: 0 auto;
            transform: skewY(11deg);
        }
    





 

body {
    margin:  0;
}

/******** Under construction ************/


